
<ion-content [scrollY]="false" [fullscreen]="true" class="ion-padding">

  <div class="imgTop">
    <img src="assets/account.jpg" alt="recoverpassword" class="img">
  </div>

  <div>
    <h1>Find your account</h1>
  </div>
  <div>
    <p>Please enter your username to search for your account.</p>
  </div>
  <div>
    <ion-input type="text" label="enter your Username" label-placement="floating" fill="outline"></ion-input>
  </div>
  <ion-button (click)="backLogin()">cancelar</ion-button>
  <ion-button>Enviar</ion-button>
</ion-content>

<ion-footer>
  
</ion-footer>